[aos="show-border"] {
  position: relative;
  z-index: initial;

  &:before {
    display: block;
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #fff;
    width: 30px;
    height: 30px;
    top: 0px;
    left: 0px;
    transition-property: transform;
  }

  &.aos-animate:before {
    animation: blink 2.5s infinite;
  }
}

@keyframes blink {
  0%, 10%, 90%, 100% {
    transform:scale(1);
  }
  50% {
    transform:scale(1.2);
  }
}