@import "fonts";
@import "palette";
@import "mq";
@import "general";
@import "share";
@import "tooltip";
@import "modal";

.interactive-container {
  position: relative;
  padding: 0;
  padding-bottom: 100px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
  
  #about-modal {
    font-weight: bold;
    white-space: nowrap;
  }

  .interactive-content {
    padding: 20px;
    min-height: 200px;
  }

  .years-and-stats {
    height: 120px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 20px;

    .year-cell, .months-cell {
      width: 30%;
    }

    .category-cell {
      width: 40%;
      border-left: 1px solid #333;
    }

    td {
      padding: 0;
      margin: 0;
    }

    .years {
      display: table;
      height: 120px;

      .row {
        display: table-row;
      }
      a {
        display: table-cell;
        border-right: 1px solid #333;
        padding: 0 20px;
        font-size: 2.5em;
        font-weight: 800;
        color: #dcdcdc;
        vertical-align: middle;
        cursor: pointer;

        &:hover {
          background-color: #767676;
          text-decoration: none
        }
        &.selected {
          color: #fff;
          background-color: #333;
        }
      }
    }

    td.months-cell{
      padding: 10px;
    }

    .month-bars {
      position: relative;
      width: 100%;
      height: 100%;
      h2 {
        padding: 0;
        margin: 0;
        font-size: 1em;
        font-family: "Guardian Agate Sans 1 Web";
        font-weight: normal;
        color: #bdbdbd;
      }
      .bar {
        display: block;
        background-color: #767676;
        position: absolute;
        bottom: 20px;
      }
      .tick {
        bottom: 0;
        position: absolute;
        font-size: 0.75em;
        text-transform: uppercase;
        color: #bdbdbd;
        font-family: "Guardian Agate Sans 1 Web";        
      }
    }

    .top-categories {
      width: 100%;
      height: 100%;
      h2 {
        padding: 0;
        margin: 10px 5px 5px;
        font-size: 1em;
        font-family: "Guardian Agate Sans 1 Web";
        font-weight: normal;
        color: #bdbdbd;
        height: 16px;
      }
      .categories-col {
        width: 50%;
        float: left;

      }
      .category {
        border-top: 1px solid #333;
        border-left: 1px solid #333;
        width: 100%;
        height: 22px;
        line-height: 22px;
        margin-left: -1px;
        padding-left: 5px;
        padding-right: 5px;
        box-sizing: border-box;
        font-family: "Guardian Agate Sans 1 Web";
        font-size: 14px;

        .count {
          font-weight: bold;
          font-family: "Guardian Agate Sans 1 Web";
          color: #767676;
          float: right;
        }
      }
    }
  }

  .filters {
    line-height: 40px;
    h2 {
      display: inline-block;
      margin-right: 10px;
      font-size: 1.25em;
      font-family: "Guardian Agate Sans 1 Web";
      color: #767676;

    }
    .filter {
      height: 40px;
      display: inline-block;
      background-color: #333;
      z-index: 10;
      font-family: "Guardian Agate Sans 1 Web";
      position: relative;
      margin-right: 10px;
      padding: 0 10px;
      box-sizing: border-box;

      .filter-label {
        width: 100%;
        padding-right: 30px;
        color: #bdbdbd;

        .selection-name {
          color: #fff;
          font-weight: bold;
        }
        &:after {
          display: block;
          position: absolute;
          right: 10px;
          top: 0;
          width: 24px;
          height: 40px;
          content: "";
          background: url('assets/imgs/arrow-down.svg') no-repeat center;
        };
      }
      select {
        z-index: 90;
        opacity: 0;
        width: 100%;
        height: 40px;
        line-height: 40px;
        -webkit-appearance: menulist-button;
        position: absolute;
        top: 0;
        display: block;
        left: 0;
        option {
          font-size: 18px;
        }
      }
    }
  }

  .gridItems {
    width: 60%;
    float: left;
    margin-bottom: 20px;
    position: relative;
  }

/*  #updating-msg {
    display:none;
  }*/

  .quote-box {
    width: 39%;
    margin-left: 1%;
    float: left;
    background-color: #333;
    padding: 16px 20px;
    box-sizing: border-box;

    .quote-date {
      font-size: 14px;
      color: #bdbdbd;
    }

    .quote-text {
      margin-top: 0.5em;
      line-height: 1.5em;
      font-size: 16px;

/*      .redacted-1 {
        color: #bdbdbd;
      }
      .redacted-2 {
        color: #767676;
      }*/
    }
  }

  .redacted {
    font-family: 'redacted';
    font-size: 1.25em;
    color: #b51800;
    margin: auto 5px;
  }

  h2, h3 {
    clear: both;
  }

	.gridItem {
		width:30px;
		height:30px;
		display: inline-block;
		margin: 6px 12px 0 0;
		background-color:grey;

    &:hover {
      outline: 2px solid #fff;
    }
    &.Minor, &.MINOR {
      background-color: #ffce4b;
    }
    &.Major, &.MAJOR {
      background-color: #e6711b;
    }
    &.Critical, &.CRITICAL {
      background-color: #b51800;
    }
	}

	.header {
    padding: 20px;
		background-image: url('assets/imgs/nauru-etch-outline.png');
	    background-repeat: no-repeat;
	    background-position: right bottom;
	    background-size:60%;
	    height:500px;
	}

	.nauruHeader {
		float: left;
		margin-top: 2em;
		margin-left:2em;
		font-weight:600;
		width: 40%;
	}

	.headerSmall {
		color:#E31F26;
		font-size:2rem;
	}

	.subHeading { 
		border-bottom:dotted 1px #FFF;
		padding-bottom:5px;
		margin-bottom:10px;
		font-size:1.5rem;
		font-weight:400;
	}

	.standfirst {
		font-size:1rem;
		font-weight:400;
		line-height:1.1rem;
		margin-bottom:10px;
	}

	.headerBig {
		font-size:4rem;
	}

	.byline a {
		color:#B41700;
	}

	.byline {
		margin-bottom: 10px;
	}

	color:#FFF;

	.btns-share .btn-tt {
    background: #bdbdbd url('assets/imgs/twitterIcon.svg') no-repeat center center;
  }
  .btns-share .btn-tt:hover {
    background-color: #03b3ee;
  }

  .btns-share .btn-fb {
      background: #bdbdbd url('assets/imgs/facebookIcon.svg') no-repeat center center;
  }

  .btns-share .btn-fb:hover {
      background-color: #3067a3;
  }
  .btns-share button {
      color: #fff;
      width: 32px;
      height: 32px;
      border: none;
      border-radius: 9000px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      outline: none;
      -webkit-appearance: button;
      text-transform: none;
      overflow: visible;
      -webkit-font-smoothing: antialiased;
      margin: 0;
  }
}

