@import "fonts";
@import "palette";
@import "mq";
@import "general";
@import "share";
@import "tooltip";
@import "modal";
@import "form";
@import "aos";
@import '../../jspm_packages/npm/aos@1.2.2/src/sass/aos.scss';
@import '../../jspm_packages/npm/aos@1.2.2/src/sass/_easing.scss';

.interactive-container {
  position: relative;
  padding: 0;
  color: #fff;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
  
  #about-modal {
    font-weight: bold;
    white-space: nowrap;
  }

  #updating-msg {
    display: none;

    &.show {
      display: block;
    }
  }

  #hidden_iframe {
    display: none;
  }
  
  #submit-msg {
    display: none;
    margin-top: 1em;
    font-style: italic;
    color: #767676;
  }

  .interactive-content {
    padding: 20px;
    padding-bottom: 60px;
    min-height: 200px;
    position: relative;

    & > h3 {
      font-weight: bold;
    }
    
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  
  }

  .years-and-stats {
    width: 100%;
    border: 1px solid #333;
    margin-top: 30px;

    @include mq($from: desktop) {
      height: 120px;
    }

    & > div {
      @include mq($from: desktop) {
        float: left;
      }
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .years {
      height: 100%;
      display: table;
      box-sizing: border-box;

      a {
        display: table-cell;
        border-right: 1px solid #333;
        font-size: 2.5em;
        font-weight: 800;
        color: #dcdcdc;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;

        &:hover {
          background-color: #767676;
          text-decoration: none
        }
        &.selected {
          color: #fff;
          background-color: #333;
        }
      }
      @media (max-width: 1200px) {
        a {
          font-size: 1.75em;
        }
      }

      @include mq($from: desktop) {
        width: 30%;
        height: 120px;
      }
      @include mq($from: tablet, $until: desktop) {
        width: 40%;
        float: left;
        border-bottom: 1px solid #333;
        height: 100px;
      }
      @include mq($until: tablet) {
        width: 100%;
        float: none;
        height: 80px;
        border-bottom: 1px solid #333;
      }
    }

    .month-bars {
      position: relative;
      width: 100%;
      height: 120px;

      h2 {
        padding: 0;
        margin: 10px 10px 5px;
        font-size: 1em;
        font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;

        font-weight: normal;
        color: #bdbdbd;
      }
      .bar {
        display: block;
        position: absolute;
        bottom: 0;

        .fill {
          background-color: #767676;
          position: absolute;
          bottom: 23px;
          width: 100%;
        }
      }
      .value {
        position: absolute;
        font-size: 12px;
        font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;

        text-align: center;
        display: none;
        width: 100%;
      }
      .tick {
        bottom: 5px;
        position: absolute;
        font-size: 0.75em;
        text-transform: uppercase;
        color: #bdbdbd;
        font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
    
        @media (max-width: 1200px) {
          display: none;
          &:first-of-type {
            display: block;
          }
          &:nth-child(3n) {
            display: block;
          };
        } 
      }
      @include mq($from: desktop) {
        width: 30%;
      }
      @include mq($from: tablet, $until: desktop) {
        width: 60%;
        float: left;
        border-bottom: 1px solid #333;
        height: 99px;
      }
      @include mq($until: tablet) {
        width: 100%;
        float: none;
        border-bottom: 1px solid #333;
      }
    }

    .top-categories {
      width: 100%;
      height: 100%;
      border-left: 1px solid #333;
      margin-left: -1px;
      h2 {
        padding: 0;
        margin: 10px 10px 5px;
        font-size: 1em;
        font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;

        font-weight: normal;
        color: #bdbdbd;
        height: 16px;
      }
      .categories-col {
        width: 50%;
        float: left;

      }
      .category {
        border-top: 1px solid #333;
        border-left: 1px solid #333;
        width: 100%;
        height: 22px;
        line-height: 22px;
        margin-left: -1px;
        padding-left: 5px;
        padding-right: 5px;
        box-sizing: border-box;
        font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;

        font-size: 13px;
        @media (max-width: 1200px) {
          font-size: 11px;
        }

        .count {
          font-weight: bold;
          font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;

          color: #767676;
          float: right;
        }
      }
      @include mq($from: desktop) {
        width: 40%;
      }
      @include mq($from: tablet, $until: desktop) {
        font-size: 12px;
        clear: both;
        border-bottom: 1px solid #333;

        h2 {
          padding-top: 10px;
        }

      }
      @include mq($until: tablet) {
        width: 100%;
        border-bottom: 1px solid #333;
        font-size: 12px;
        clear: both;

        .categories-col {
          width: 100%;
        }
      }
    }
  }

  .filters {
    line-height: 40px;
    float: left;
    h2 {
      display: inline-block;
      margin-right: 10px;
      font-size: 1.25em;
      font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;

      color: #767676;

    }
    .filter {
      height: 40px;
      display: inline-block;
      background-color: #333;
      z-index: 10;
      font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;

      position: relative;
      margin: 10px 10px 10px 0;
      padding: 0 10px;
      box-sizing: border-box;

      .filter-label {
        width: 100%;
        padding-right: 30px;
        color: #bdbdbd;

        .selection-name {
          color: #fff;
          font-weight: bold;
        }
        &:after {
          display: block;
          position: absolute;
          right: 10px;
          top: 0;
          width: 24px;
          height: 40px;
          content: "";
          background: url('@@assetPath@@/assets/imgs/arrow-down.svg') no-repeat center;
        };
      }
      select {
        z-index: 90;
        opacity: 0;
        width: 100%;
        height: 40px;
        line-height: 40px;
        -webkit-appearance: menulist-button;
        position: absolute;
        top: 0;
        display: block;
        left: 0;
        color: #333;
        option {
          font-size: 18px;
        }
      }
    }
  }

  .key {
    float: right;
    line-height: 40px;
    ul { margin: 0; display: inline; padding: 0;}
    li { 
      display: inline-block;
      text-decoration: none;
      margin: 0 6px;
      vertical-align: middle;
      font-size: 14px;
      font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;

    }
    h3 {
      vertical-align: middle;
      font-size: 1em;
      display: inline-block;
      margin: 0;
      font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;

    }
    .colour {
      vertical-align: middle;        
      width: 16px;
      height: 16px;
      line-height: 40px;
      display: inline-block;
      margin-right: 4px;
      margin-top: -4px;
    }
    @include mq($until: wide) {
      width: 100%;
      float: none;
      clear: both;
    }
  }

  .gridItems {
    width: 60%;
    float: left;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    @include mq($until: tablet) {
      width: 100%;
      float: none;
      clear: both;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }

  .quote-box {
    width: 39%;
    margin-left: 1%;
    margin-top: 10px;
    float: left;
    background-color: #333;
    padding: 16px 20px;
    box-sizing: border-box;

    .quote-date {
      font-size: 14px;
      color: #bdbdbd;
    }

    .quote-text {
      margin-top: 0.5em;
      line-height: 1.5em;
      font-size: 16px;

/*      .redacted-1 {
        color: #bdbdbd;
      }
      .redacted-2 {
        color: #767676;
      }*/
    }
    @include mq($until: tablet) {
      width: 100%;
      float: none;
      margin-left: 0;
    }
  }

  .redacted {
    font-family: 'redacted';
    font-size: 1.25em;
    color: #b51800;
    margin: auto 5px;
  }

  h2, h3 {
    clear: both;
  }

	.gridItem {
		width:30px;
		height:30px;
		float: left;
		margin: 12px 12px 0 0;
		background-color:#767676;

    &:hover {
      outline: 2px solid #fff;
    }
	}

  .gridItem, .key .colour{

    &.Minor, &.MINOR, &.minor {
      background-color: #ffce4b;
    }
    &.Major, &.MAJOR, &.major {
      background-color: #e6711b;
    }
    &.Critical, &.CRITICAL, &.critical {
      background-color: #b51800;
    }
    &.other, &.Unclassified {       
      background-color: #767676;
    }
  }


	.header {
/*    padding: 20px;*/
/*		background-image: url('@@assetPath@@/assets/imgs/nauru-etch-outline.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size:60%;*/
    background-color: #646464;
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;

    .logo-container {
      height: 550px;
      position: relative;
      margin: 0 auto;
      z-index: 10;
      img {
        padding: 20px;
      }
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
          .logo-container {
            width: map-get($mq-breakpoints, $bp);
            background-color: #fff;
          }
        }
    }

    .header-image {
      width: 100%;
      height: 526px;
      background: url('@@assetPath@@/assets/imgs/fence-bg.jpg') repeat-x;
      position: absolute;
      transform: skew(0deg,-6deg);
      transform-origin: 85% bottom;
      -webkit-transform: skew(0deg,-6deg);
      -webkit-transform-origin: 85% bottom;
      z-index:50;
      top: 0;

      @include mq($until: wide) {
        transform: skew(0deg,-12deg);
      }
    }

    .figure-image {
      background: url('@@assetPath@@/assets/imgs/figure.png') no-repeat 75% 50%;
      width: 100%;
      height: 300px;
      z-index:100;
      position: absolute;
      top: 240px;

      @include mq($until: wide) {
        background-position-x: 90%;
      }
      @include mq($until: desktop) {
        display: none;
      } 
    }

    .header-text-bg {
      width: 120%;
      height: 400px;
      position: absolute;
      z-index: 60;
      bottom: -160px;
      overflow: hidden;
      transform: skew(0deg,8deg) rotate(-1deg);
      transform-origin: 50% bottom;
      -webkit-transform: skew(0deg,8deg) rotate(-1deg);
      -webkit-transform-origin: 50% bottom;
      background-color: #e6711b;
    }

    @include mq($until: leftCol) {
      .header-text-bg { bottom: -120px; }
    } 
    @include mq($until: tablet) {
      background-color: #fff;

      .header-text-bg { 
        bottom: -50px; 
        height: 500px;
      }
      .header-image { 
        top: 60px;        
      }
      .logo-container {
        z-index: 100;
      }
    } 
	}

	.header-text-container {
    width:100%;
		font-weight:600;
    z-index: 100;
    position: absolute;
    bottom: 20px;

    @each $bp in (tablet, desktop, leftCol, wide) {
      @include mq($bp) {
          .header-text { max-width: map-get($mq-breakpoints, $bp); }
        }
    }

    @include mq($until: 90em) {
      .header-text { padding-left: 20px; }
    }

    @include mq($until: leftCol) {
      .standfirst { max-width: 40em; }
    } 

    @include mq($until: tablet) {
      .header-text { 
        width: 100%;
        margin-left: 0;
        box-sizing: border-box;
        padding: 0 20px;
      }
    } 

    .header-text {
      margin: 0 auto;
      position: relative;
      box-sizing: border-box; 
    }

  
	}

  h1 {
    font-weight: 800;
    font-size: 1.75em;
    color: #fff;
    margin-bottom: 0.25em;
  }

/*	.headerSmall {
		color:#E31F26;
		font-size:2rem;
	}*/

	.subHeading { 
		font-size:2em;
    margin-bottom: 5px;
    color: #fff;
		font-weight:800;
    max-width: 20em;
    line-height: 1em;
	}

	.standfirst {
		font-size:1em;
		font-weight:400;
		line-height:1.25em;
		margin-bottom:10px;
    color: #212121; 
    max-width: 45em;
	}
  .more-actions {
    right: 0;
    position: absolute;
    bottom: 0;
  }
  .about {
    margin-bottom: 1em;
    display: inline-block;
    line-height: 30px;
    a { 
      cursor: pointer;
      color: #fff;
      padding: 8px;
      line-height: 20px;
      background-color: #333;
      display: inline-block;
      &:hover {
        text-decoration: none;
        background-color: #767676;
      };
    }
  }

	.headerBig {
		font-size:4rem;
	}

	.byline a {
		color:#fff;
	}

	.byline {
    color: #212121;
		margin-bottom: 10px;
    padding: 0;
    border: none;
    min-height: initial;
	}

	.btns-share {
    margin-left: 10px;
    line-height: 30px;
    display: inline-block;
  }

	.btns-share .btn-tt {
    background: #bdbdbd url('@@assetPath@@/assets/imgs/twitterIcon.svg') no-repeat center center;
  }
  .btns-share .btn-tt:hover {
    background-color: #03b3ee;
  }

  .btns-share .btn-fb {
      background: #bdbdbd url('@@assetPath@@/assets/imgs/facebookIcon.svg') no-repeat center center;
  }

  .btns-share .btn-fb:hover {
      background-color: #3067a3;
  }
  .btns-share button {
      color: #fff;
      width: 32px;
      height: 32px;
      border: none;
      border-radius: 9000px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      outline: none;
      -webkit-appearance: button;
      text-transform: none;
      overflow: visible;
      -webkit-font-smoothing: antialiased;
      margin: 0;
  }
  .no-data {
    clear: both;
    font-style: italic;
    font-size: 1.25em;
    padding-top: 1em;
    text-align: center;
  }

  .footer {
    margin: 0 auto;
    padding-bottom: 40px;

    h2 {color: #bdbdbd; margin: 1em 10px; }
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
      @include mq($bp) {
        width: map-get($mq-breakpoints, $bp);
      }
    }

    .footer-grid {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      li {
        width: 25%;
        float: left;
        display: flex;
        flex: 1 1 auto;
        list-style: none;
        margin: 0;
        padding: 0;

        .footer-item-container {
          margin: 0 10px;
          min-height: 80px;
          box-sizing: border-box;
          overflow: hidden;
          position: relative;
          background-color: #333;
          color: #fff;

          &:hover {
            background-color: #666;
          };

          .footer-text-content {
            margin: 0 10px;
            padding-bottom: 10px;
          }

          img {
            max-width:100%;
          }

          h2 {
            font-size:18px;
            font-weight: 500;
            margin: 0.25em 0;
            line-height: 24px;
            color: inherit;
          }
          a {
            color: inherit;
          }
          .anchor {
            position: absolute;
            z-index: 200!important;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
          }

          .button {
            border: none;
            height: 30px;
            line-height: 32px;
            display: inline-block;
            color: #fff;
            z-index: 100;
            background-color: #bb3a7f;
            border-radius: 62.5rem;
            padding: 0 0.625em;

            .arrow-icon {
              height: auto!important;
              width: auto!important;
              float: right;
              fill: #fff;
            }
          }

          .subheading {
/*            color: #767676;
*/            font-size: 1em;
            line-height: 1.25em;
            margin: 0.25em 0;
            color: #dcdcdc;
            font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;            
          }

          .members-header {
            width: 100%;
            background-color: #bb3a7f;

            h2 {
              color: #fff;
              margin: 0;
              padding: 0;
              padding: 5px 5px 10px;
            }

            .guardian-logo {
              padding: 5px;
            }
          }
        }
      }
    }

    @include mq($until: desktop) {
      .footer-grid li {
        width: 100%;
        margin-bottom: 1em;

        .footer-item-container {
          img { 
            max-width: 100px; 
            position: absolute;
            margin: 0.25em;
          }
          .footer-text-content {
            margin-left: 110px;
            padding-bottom: 0;
          }
          .button {
            margin-bottom: 5px;
            margin-left: -105px;
          }
        }
      }

      .footer-grid, li {
        display: block;
      }
    } 
  }
}

