@import "fonts";
@import "palette";
@import "mq";
@import "general";
@import "share";
@import "tooltip";
@import "modal";

.interactive-container {

  .gridItems {
    width: 60%;
    float: left;
    margin-bottom: 20px;
  }

  #gridContainer {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .quote-box {
    width: 39%;
    margin-left: 1%;
    float: left;
    background-color: #333;
    padding: 16px 20px;
    box-sizing: border-box;

    .quote-date {
      font-size: 14px;
      color: #bdbdbd;
    }

    .quote-text {
      margin-top: 0.5em;
      line-height: 1.5em;
      font-size: 16px;

/*      .redacted-1 {
        color: #bdbdbd;
      }
      .redacted-2 {
        color: #767676;
      }*/
    }
  }

  .redacted {
    font-family: 'redacted';
    font-size: 1.25em;
    color: #b51800;
    margin: auto 5px;
  }

  h2, h3 {
    clear: both;
  }

	.gridItem {
		width:30px;
		height:30px;
		display: inline-block;
		margin: 6px 12px 0 0;
		background-color:grey;

    &:hover {
      outline: 2px solid #fff;
    }
    &.Minor {
      background-color: #ffce4b;
    }
    &.Major {
      background-color: #e6711b;
    }
    &.Critical {
      background-color: #b51800;
    }
	}

	.header {
		background-image: url('assets/imgs/nauru-etch-outline.png');
	    background-repeat: no-repeat;
	    background-position: right bottom;
	    background-size:60%;
	    height:500px;
	}

	.nauruHeader {
		float: left;
		margin-top: 2em;
		margin-left:2em;
		font-weight:600;
		width: 40%;
	}

	.headerSmall {
		color:#E31F26;
		font-size:2rem;
	}

	.subHeading { 
		border-bottom:dotted 1px #FFF;
		padding-bottom:5px;
		margin-bottom:10px;
		font-size:1.5rem;
		font-weight:400;
	}

	.standfirst {
		font-size:1rem;
		font-weight:400;
		line-height:1.1rem;
		margin-bottom:10px;
	}

	.headerBig {
		font-size:4rem;
	}

	.byline a {
		color:#B41700;
	}

	.byline {
		margin-bottom: 10px;
	}

	color:#FFF;

	.btns-share .btn-tt {
    background: #bdbdbd url('assets/imgs/twitterIcon.svg') no-repeat center center;
  }
  .btns-share .btn-tt:hover {
    background-color: #03b3ee;
  }

  .btns-share .btn-fb {
      background: #bdbdbd url('assets/imgs/facebookIcon.svg') no-repeat center center;
  }

  .btns-share .btn-fb:hover {
      background-color: #3067a3;
  }
  .btns-share button {
      color: #fff;
      width: 32px;
      height: 32px;
      border: none;
      border-radius: 9000px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      outline: none;
      -webkit-appearance: button;
      text-transform: none;
      overflow: visible;
      -webkit-font-smoothing: antialiased;
      margin: 0;
  }
}

